.containerMain {
        
        text-align: center;
        margin-top: 3%;  
        background-color: rgb(224, 236, 211);
        border-radius: 40px;
        
}

.colorTypo {

    color:rgb(108, 148, 67);

}